.m-header {
    display: flex;
    height: 48px;
    width: 100%;
}
.m-header .header-left {
    display: flex;
    align-items: center;
    width: 225px;
    height: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    border-right: 1px solid #BEBEBE;
    
}
.m-header .header-right {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 225px);
    height: 100%;
    border-bottom: 1px solid #bebebe;
}

.m-header .sidebar {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url(../../assets/img/toggle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.m-header .logo {
    height: 24px;
    width: 100%;
    background-image: url(../../assets/img/cukcuk-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
}

.m-header .header-right .header-right-avatar {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    margin-left: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/icon/avatar-default.png);
    cursor: pointer;
}
.m-header .header-right .header-right-username {
    margin-right: 16px;
}

.m-header .header-right .header-right-option {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/icon/option.png);
    cursor: pointer;
}

.m-header .header-end {
    display: flex;
    align-items: center;
    padding-right: 40px;
}